<nav class="relative bg-gray-800">
    <div class="mx-auto max-w-12xl px-2 sm:px-12 lg:px-12">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex shrink-0 items-center">
                    <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500"
                        alt="Your Company" class="h-8 w-auto" />
                </div>
                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex space-x-4">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-white/5 hover:text-white" -->
                        <a routerLink="/dashboard" routerLinkActive="bg-gray-900 text-warning"
                            [routerLinkActiveOptions]="{exact: true}"
                            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white">Dashboard</a>
                        <a routerLink="/about" routerLinkActive="bg-gray-900 text-warning"
                            [routerLinkActiveOptions]="{ exact: true }"
                            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white">About</a>
                        <a routerLink="/contact-us" routerLinkActive="bg-gray-900 text-warning"
                            [routerLinkActiveOptions]="{exact: true}"
                            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white">Contact
                            Us</a>
                        @if(userService.isLoggedIn){
                        <a routerLink="/team" routerLinkActive="bg-gray-900 text-warning"
                            [routerLinkActiveOptions]="{exact: true}"
                            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white">My Team</a>
                        }
                    </div>
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                @if(userService.isLoggedIn){
                <span class="userName text-info mr-2">
                    <div class="col-span-full">
                        <div class="mt-2 flex items-center text-white gap-x-3">
                           Hey, <b>{{ userService.getUserDetail().firstName }}</b>
                            
                            <svg viewBox="0 0 24 24" fill="currentColor" data-slot="icon" aria-hidden="true"
                                class="size-12 text-gray-300">
                                <path
                                    d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
                                    clip-rule="evenodd" fill-rule="evenodd" />
                            </svg>
                        </div>
                    </div>
                </span>
                <button type="button" (click)="userService.logout()"
                    class="relative p-1 bg-red-500 text-white px-4 py-2 rounded-md">
                    <i class="fa fa-sign-out text-white"></i> Logout
                </button>
                }@else{
                <button routerLink="/login"
                    class="relative  p-1 bg-blue-700 text-white px-3 py-2 rounded-md focus:outline-2 focus:outline-offset-2 focus:outline-indigo-500">
                    Login
                </button>
                }
            </div>
        </div>
    </div>
</nav>